# Configuration file

####################
# "!enable"
####################

""!enable"" {
    B:"Enable Utility Set"=true
    ####################
    # "enable metals"
    ####################

    ""enable metals"" {
        B:"Enable Bitumen"=true
        B:"Enable Magnesium"=true
        B:"Enable Phosphorite"=true
        B:"Enable Potash"=true
        B:"Enable Saltpeter"=true
        B:"Enable Sulfur"=true
    }

    ####################
    # enable metals
    ####################

    "enable metals" {
        B:"Enable Bitumen"=true
        B:"Enable Magnesium"=true
        B:"Enable Phosphorite"=true
        B:"Enable Potash"=true
        B:"Enable Saltpeter"=true
        B:"Enable Sulfur"=true
    }

}


####################
# "#block ids"
####################

""#block ids"" {
    S:"Bitumen Ore"=923:4
    S:"Magnesium Ore"=923:3
    S:"Phosphorite Ore"=923:0
    S:"Potash Ore"=923:5
    S:"Saltpeter Ore"=923:2
    S:"Sulfur Ore"=923:1
}


####################
# bitumen
####################

bitumen {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# "item ids"
####################

""item ids"" {
    I:Bitumen=28406
    I:Fertilizer=28408
    I:"HE TNT"=3001
    I:"LE TNT"=3000
    I:Magnesium=28404
    I:"Magnesium Igniter"=28409
    I:Match=28410
    I:Phosphorus=28401
    I:Potash=28407
    I:Saltpeter=28403
    I:Sulfur=28402
    I:Tar=28405
}


####################
# magnesium
####################

magnesium {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# phosphorite
####################

phosphorite {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# potash
####################

potash {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# recipes
####################

recipes {
    B:"Enable Fertilizer"=true
    B:"Enable HE TNT"=true
    B:"Enable LE TNT"=true
    B:"Enable Magnesium Igniter"=true
    B:"Enable Match"=true
}


####################
# saltpeter
####################

saltpeter {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# sulfur
####################

sulfur {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


